<% content_for :title, "Home" %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to The Gossip Project!</h1>
        <p>Here you can find all the latest gossip from around town.</p>
    </div>

    <div class="row">
        <% params[:gossip_array].each do |gossip| %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title"><%= gossip.title %> by <%= gossip.user.first_name %> <%= gossip.user.last_name %> </h5>
                        <p class="card-text"><%= gossip.content %></p>
                        <%= link_to "Read More", dynamic_pages_gossip_path(:id => gossip.id), class: "btn btn-secondary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>