
<h1>Welcome to the site, <%= current_user.first_name %>!</h1>
<p>You have successfully authenticated.</p>

<%= link_to "Edit", edit_user_path(current_user) %>
<%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back", root_path %>

<h2>Activity</h2>
<ul>
    <% current_user.gossips.each do |gossip| %>
        <li>Created gossip: <%= gossip.title %></li>
    <% end %>

    <% current_user.comments.each do |comment| %>
        <li>Commented on gossip: <%= comment.gossip.title %></li>
    <% end %>
</ul>
