<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
                    <p class="card-text"><%= @user.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= @user.email %></li>
                    <li class="list-group-item"><%= @user.age %></li>
                    <li class="list-group-item"><%= @user.city.name %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
