<% content_for :title, "Home" %>
<div class="hero" style="background-image: url(<%= asset_path('dgd.jpg') %>); height: 400px; width: 100%; position: absolute; top: 0;"></div>
<div class="container" style="padding-top: 100px; position: relative;">
    <h1 class="display-5 fw-bold text-white">Welcome to The Gossip Project</h1>
    <p class="col-md-8 fs-4" style="background-color: rgba(0, 0, 0, 0.5); color: bisque;">Here you can find all the latest gossip from around town.</p>
    <% if current_user %>
        <%= link_to "Create New Gossip", new_gossip_path, class: "btn btn-warning" %>
    <% else %>
        <%= link_to "Register", new_user_path, class: "btn btn-warning" %>
        <%= link_to "Log In", new_session_path, class: "btn btn-secondary" %>
    <% end %>
</div>

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <% @gossips.each do |gossip| %>
            <div class="col-md-3 col-xl-3">
                <div class="card bg-c-<%= ['yellow', 'pink', 'blue', 'green'].sample %> order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><%= gossip.title %> by <cite><%= gossip.user.first_name %> <%= gossip.user.last_name %></cite></h6>
                        <p class="m-b-0"><%= gossip.content %></p>
                        <div class="text-right mb-2">
                            <i class="bi bi-hand-thumbs-up"></i>   <span><%= gossip.likes.count %></span>
                            <i class="bi bi-chat-dots"></i>   <span><%= gossip.comments.count %></span>
                        </div> 
                        <%= link_to "Read More", gossip_path(:id => gossip.id), class: "btn btn-outline-light" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>    
</div>
